<div>
    <mat-card>
        <mat-card-content>
            <h2>{{stockDetails.name}}</h2>
            <div>
                <span style="font-size: 40px;">{{stockDetails.stockPrice}}</span><span>{{stockDetails.currency}}</span>
            </div>
            <div class="symbol-container">
                <p class="symbol">{{stockDetails.symbol}}</p> &nbsp;<span>{{stockDetails.exchange}}</span>
            </div>
        </mat-card-content>
        <ag-charts 
        [options]="results"
    ></ag-charts>
    </mat-card>
</div>
